<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ele.project.violate.dao.ViolateDao">

	<insert id="insertViolate" parameterType="Map">
		insert into t_violate
		(id,borrowid,extendday,finepay,userid)values(#{id},#{borrowid},#{extendday},#{finepay},#{userid})
	</insert>
	
	<select id="getViolateinfo" parameterType="Map" resultType="Map">
		select b.id,bk.name,bk.author,bk.callno,b.borrowdate,bk.coverimg,
		b.returningdate,v.extendday,v.finepay	
		from t_borrow b 
		left join t_book bk on bk.id=b.bookid 
		left join t_user u on u.id=b.userid
		left join t_violate v on v.borrowid=b.id
		where b.state=0 and  u.id=#{userid}
		order by bk.name
		limit #{page},#{pagesize} 
	</select>
	<select id="getViolatemnglist" parameterType="Map" resultType="Map">
		SELECT b.id,bk.name,bk.author,bk.callno,b.borrowdate,bk.coverimg,
		b.returningdate,v.extendday,v.finepay,v.id AS vid,u.id AS userid,u.username,u.name AS xingming	
		FROM t_violate v  
		LEFT JOIN t_user u ON u.id=v.userid
		LEFT JOIN t_borrow b ON v.borrowid=b.id
		LEFT JOIN t_book bk ON bk.id=b.bookid 
		WHERE 1=1
		<if test="userid!=null and userid!=''">
			and u.id=#{userid}
		</if>
		<if test="username!=null and username!=''">
			and u.username=#{username}
		</if>
		<if test="name!=null and name!='' and callno!=null and callno!=''">
			and (bk.name=#{name} or bk.callno=#{callno})
		</if>
		order by bk.name
		limit #{page},#{pagesize} 
	</select>
	<select id="getViolateinfoCount" parameterType="Map" resultType="int">
		select count(1)
		from t_borrow b 
		left join t_book bk on bk.id=b.bookid 
		left join t_user u on u.id=b.userid
		left join t_violate v on v.borrowid=b.id
		where b.state=0 and  u.id=#{userid}
	</select>
	<delete id="deleteViolate" parameterType="java.lang.String">
        delete from t_violate where id in ${_parameter}
    </delete>
</mapper>